#sessions {
    font-size: 1em;
    line-height: 1.5em;

    .session {
        margin-top: 3em;
        margin-bottom: 3em;

        p.time {
            margin-bottom: -.5em;
            color: $tone;
        }

        .talk {
            h1 {
                color: $tone;
                font-size: 2em;
                font-weight: bolder;
            }

            p {
                margin-left: 5em;
            }
        }

        .speaker{
            font-size: .8em;
            margin-top: 2em;
            margin-left: 5em;
            padding: 20px;
            padding-left: 150px;
            border-radius: 20px;
            background-color: rgba($paper, .8);
            min-height: 150px;
            position: relative;

            h2 {
                margin-bottom: .5em;
            }

            img {
                width: 150px;
                position: absolute;
                left: -20px;
                top: 20px;
                border-radius: 20px;
                float: left;
            }
        }

        .materials {
            margin-left: 5em;
            
            li {
                display: inline-block;
                margin: 0 1em 0 0;

                a {
                    display: inline-block;
                    text-decoration: none;
                    border: 1px solid rgba($tone, .1);
                    border-radius: 5px;
                    background-color: rgba($tone, .1);
                    padding: 2px;
                    min-width: 6em;
                    text-align: center;

                    &:hover {
                        background-color:rgba($tone, 0);
                        border-color: rgba($tone, 0.5);
                    }
                }
            }
        }
    }
}